.location {
	padding-top: 48px;
	padding-bottom: 60px;

	.location__text {
		text-align: center;
		width: 45%;
		margin: 20px auto 0;
	}

	.location__platforms {
		margin-top: 75px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}

	.location__platform {
		margin-left: 10px;
		margin-top: 15px;
	}

	.netflix {
		width: 170px;
	}

	.reddit {
		width: 157.7px;
	}

	.amazon {
		width: 165px;
	}

	.discord {
		width: 188px;
	}

	.spotify {
		width: 172px;
	}
}


/*Resize*/

@media (max-width: 768px) {
	.location {
		.location__text {
			width: 80%;
		}
	}
}

@media (max-width: 425px) {
	.location {
		.location__platform {
			display: block;
			margin: 30px auto;
			width: 70%;
		}

		.location__text {
			width: 100%;
		}
	}
}

