@import "variables";
@import "utd-reset";
@import "fonts";
@import "typography";

//base styles, and base classes like wrappers, containers or clearfix...

* {
    box-sizing: border-box;
	transition-property: background-color, fill;
	transition-duration: .3s, .15s;
}
body{
	font-family: Rubik, sans-serif;
}
